# Copyright INRA/CNRS

# Emmanuel.Courcelle@toulouse.inra.fr
# Jerome.Gouzy@toulouse.inra.fr
# Sebastien.Carrere@toulouse.inra.fr
# Erika.Sallet@toulouse.inra.fr
# Ludovic.Cottret@toulouse.inra.fr
# Ludovic.Legrand@toulouse.inra.fr

# This software is a perl module whose purpose is to help you writing
# your own scripts

# This software is governed by the CeCILL license under French law and
# abiding by the rules of distribution of free software.  You can  use,
# modify and/ or redistribute the software under the terms of the CeCILL
# license as circulated by CEA, CNRS and INRIA at the following URL
# "http://www.cecill.info".

# As a counterpart to the access to the source code and  rights to copy,
# modify and redistribute granted by the license, users are provided only
# with a limited warranty  and the software's author,  the holder of the
# economic rights,  and the successive licensors  have only  limited
# liability.

# In this respect, the user's attention is drawn to the risks associated
# with loading,  using,  modifying and/or developing or reproducing the
# software by the user in light of its specific status of free software,
# that may mean  that it is complicated to manipulate,  and  that  also
# therefore means  that it is reserved for developers  and  experienced
# professionals having in-depth computer knowledge. Users are therefore
# encouraged to load and test the software's suitability as regards their
# requirements in conditions enabling the security of their systems and/or
# data to be ensured and,  more generally, to use and operate it in the
# same conditions as regards security.

# The fact that you are presently reading this means that you have had
# knowledge of the CeCILL license and that you accept its terms.



#You will access to your portal using a URL = web_server.http_root
#Example: https://your.web.server/apache/root
web_server={{ bbric_archive_http_url }}
http_root={{ bbric_archive_http_root }}
apache_user_home={{ bbric_archive_apache_home_dir }}

title={{ bbric_archive_title }}

# Full path to your collection rawfiles repository
repository_unix_path={{ bbric_archive_rawfiles_repo }}
# IRODS root or fix path to your collection rawfiles repository
repository_irods_path={{ bbric_archive_irods_repo }}

#iRODS
#
irods_bin={{ bbric_archive_irods_bin_path }}
# UNIX | IRODS
repository_type={{ bbric_archive_irods_repo_type }}

#Full path to your Incoming repository (for http and ftp)
incoming_repository_path={{ bbric_archive_incoming_ftp }}
incoming_tmpdir={{ bbric_archive_incoming_http_tmp }}

#FTP server Name and Port
ftp_server_name={{ bbric_archive_ftp }}
ftp_server_port={{ bbric_archive_ftp_port }}
#FTP Group Name (www-data MUST be in this group and stickybit added to ftp_repository_path)
ftp_groupname={{ bbric_archive_ftp_group }}

#Restrict FTP account creation to a list of institutes (identified by their Shibboleth EPPN)
# --> empty = no restriction
ftp_eppn_restriction_regexp={{ bbric_archive_ftp_eppn_restriction_regexp }}


#Elastic Search
# user and password are required if your Elastic cluster is behind a protected proxy (with htaccess)
elastic_host={{ elastic_url }}
elastic_index={{ elastic_index }}
elastic_user={{ elastic_user }}
elastic_password={{ elastic_password }}

#PostgreSQL connexion
db_name={{ db_name }}
db_host={{ db_host }}
db_port={{ db_port }}
db_username={{ db_username }}
db_password={{ db_password }}
